  <!-- Page Content
    ================================================== -->
  <!-- Hero -->

  <section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <span class="hero-brand">
            <h1 style="color: rgb(25, 158, 184); display:inline;">i</h1>
            <h1 style="display: inline;">Fitness</h1>
            <h1 style="color: rgb(25, 158, 184); display:inline;">&nbsp;Studio</h1>
          </span>
        </div>
      </div>

      <div class="col-md-12">
        <h2>
            СТУДИЯ ТАНЦА И ФИТНЕССА
        </h2>

        <p class="tagline">
          Наталии Кузнецовой.
        </p>
        <a class="btn btn-full" href="#about">Шаг к успеху</a>
      </div>
    </div>

  </section>
  <!-- /Hero -->

  <!-- Header -->
  <header id="header">
    <div class="container">

      <!-- <div id="logo" class="pull-left">
        <a href="index.html" style="color: white;">iFitness Studio</a>
        Uncomment below if you prefer to use a text image
        <h1><a href="#hero">Bell</a></h1>
      </div> -->

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#about">О нас</a></li>
          <!--<li><a href="#features"> тренировок</a></li> -->
          <!--<li><a href="#portfolio">Программы питания</a></li> -->
          <li><a href="#all-something">Более подробно</a></li>
          <!--<li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="menu-has-children"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> -->
          <li><a href="#contact">Как нас найти</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->

      <nav class="nav social-nav pull-right d-none d-lg-inline">
        <!-- <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa fa-linkedin"></i>
        </a> -->
        <a href="https://vk.com/lollipop_girl">
          <i class="fa fa-vk"></i>
        </a>
        <a href="#contact">
          <i class="fa fa-envelope"></i>
        </a>
      </nav>
    </div>
  </header>
  <!-- #header -->

  <!-- About -->

  <section class="about" id="about">
    <div class="container text-center">
      <p>
        Наша студия ведет подготовку по многим направлениям, которые позволят вам развить красивую фигуру, хорошее настроение, здоровье, и какие - то дополнительные навыки (гибкость, выносливость, пластика, сила...)
        Выбирая наши тренировки, вы сможете получить все это, с акцентом на те качества, которые вы стремитесь в себе развить!
      </p>

      <div class="row stats-row" style="display: -webkit-flex; display: flex; justify-content: center;">
        <div class="card-fit" style="width: 18rem; margin:10px;">
          <img class="card-img-top" src="img/fitness1.jpg" alt="Фитнесс">
          <div class="card-body">
            <h5 class="card-title">Fitness</h5>
            <p class="card-text">Фитнес - программа 'Крепкий орешек' направлена на укрепление ягодиц, ног, пресса - все то, к чему стремятся девушки и женщины всех возрастов.</p>
          </div>
        </div>

          <div class="card-fit" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="img/pole123.jpg" alt="Pole Dance">
            <div class="card-body">
              <h5 class="card-title">Pole Dance</h5>
              <p class="card-text">Pole dance - это грация, вдохновение, сочетания спорта и танца, силы и женственности, а так же новые умения и навыки.</p>
            </div>
          </div>

          <div class="card-fit" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="img/active123.jpg" alt="Активная коррекция фигуры">
            <div class="card-body">
              <h5 class="card-title">Активная коррекция</h5>
              <p class="card-text">Фитнес программа 'Активная коррекция фигуры' - сделает вас стройнее и выносливее, поможет бороться с лишними килограммами.</p>
            </div>
          </div>

          <div class="card-fit" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="img/stripplast123.jpg" alt="Стрип пластика">
            <div class="card-body">
              <h5 class="card-title">Стрип пластика</h5>
              <p class="card-text">Стрип пластика подарит умение двигаться под музыку, раскроет женскую сущность, подарит уверенность в себе.</p>
            </div>
          </div>

          <div class="card-fit" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="img/tretching123.jpg" alt="Стретчинг">
            <div class="card-body">
              <h5 class="card-title">Стретчинг</h5>
              <p class="card-text">Стретчинг поможет снять напряжение спины, улучшить гибкость и здоровье, а так же сесть на шпагат (поперечный и продольный).</p>
            </div>
          </div>

          <div class="card-fit" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="img/childfit123.jpg" alt="Детский фитнесс">
            <div class="card-body">
              <h5 class="card-title">Детский фитнесс</h5>
              <p class="card-text">Тренировка займёт ваших детишек, поможет им развиваться физически и умственно, двигаться в такт музыке, сформировать осанку, а так же налаживать контакты с другими детьми.</p>
            </div>
          </div> 


        <!--<div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">232</span> Satisfied Customers
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">79</span> Released Projects
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">1,463</span> Hours Of Support
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">15</span> Hard Workers
          </div>
        </div> -->

      </div>
    </div>
  </section>

  <section class="all" id="all-something" style="background:turquoise">
    <div class="container text-center">

      <div class="row stats-row" style="display: -webkit-flex; display: flex; justify-content: center;">
        <div class="card-fit" style="width: 18rem; margin:10px;">
          <img class="card-img-top" src="img/43gff.png" alt="Фитнесс">
          <div class="card-body" style="background: white;">
            <h5 class="card-title">Fitness</h5>
            <p class="card-text">Фитнес - программа 'Крепкий орешек' направлена на укрепление ягодиц, ног, пресса - все то, к чему стремятся девушки и женщины всех возрастов.</p>
          </div>
        </div>

          <div class="card-fit" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="img/43gff.png" alt="Pole Dance">
            <div class="card-body" style="background: white;">
              <h5 class="card-title">Pole Dance</h5>
              <p class="card-text">Pole dance - это грация, вдохновение, сочетания спорта и танца, силы и женственности, а так же новые умения и навыки.</p>
            </div>
          </div>

          <div class="card-fit" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="img/43gff.png" alt="Pole Dance">
            <div class="card-body" style="background: white;">
              <h5 class="card-title">Pole Dance</h5>
              <p class="card-text">Pole dance - это грация, вдохновение, сочетания спорта и танца, силы и женственности, а так же новые умения и навыки.</p>
            </div>
          </div>

      </div>
    </div>
  </section>
  <!-- /About -->
  <!-- Parallax -->

  <!--<div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="img/parallax-bg.jpg" data-settings='{"stellar-background-ratio": 0.6}' data-toggle="parallax-bg">
    <h2>
        Welcome to a perfect theme
      </h2>

    <p>
      This is the most powerful theme with thousands of options that you have never seen before.
    </p>
    <img alt="Bell - A perfect theme" class="gadgets-img hidden-md-down" src="img/gadgets.png">
  </div> -->
  <!-- /Parallax -->
  <!-- Features -->

  <!--<section class="features" id="features">
    <div class="container">
      <h2 class="text-center">
          Features
        </h2>

      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-rocket"></span>
              </div>
            </div>

            <div>
              <h3>
                  Custom Design
                </h3>

              <p>
                Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-envelope"></span>
              </div>
            </div>

            <div>
              <h3>
                  Responsive Layout
                </h3>

              <p>
                Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-bell"></span>
              </div>
            </div>

            <div>
              <h3>
                  Innovative Ideas
                </h3>

              <p>
                Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-database"></span>
              </div>
            </div>

            <div>
              <h3>
                  Good Documentation
                </h3>

              <p>
                Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-cutlery"></span>
              </div>
            </div>

            <div>
              <h3>
                  Excellent Features
                </h3>

              <p>
                Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-dashboard"></span>
              </div>
            </div>

            <div>
              <h3>
                  Retina Ready
                </h3>

              <p>
                Eque feugiat contentiones ei has. Id summo mundi explicari his, nec in maiorum scriptorem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- /Features -->
  <!-- Call to Action -->

  <!--<section class="cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-sm-12 text-lg-left text-center">
          <h2>
              Call to Action Section
            </h2>

          <p>
            Lorem ipsum dolor sit amet, nec ad nisl mandamus imperdiet, ut corpora cotidieque cum. Et brute iracundia his, est eu idque dictas gubergren
          </p>
        </div>

        <div class="col-lg-3 col-sm-12 text-lg-right text-center">
          <a class="btn btn-ghost" href="#">Buy This Theme</a>
        </div>
      </div>
    </div>
  </section> -->
  <!-- /Call to Action -->
  <!-- Portfolio -->

  <!--<section class="portfolio" id="portfolio">
    <div class="container text-center">
      <h2>
          Portfolio
        </h2>

      <p>
        Voluptua scripserit per ad, laudem viderer sit ex. Ex alia corrumpit voluptatibus usu, sed unum convenire id. Ut cum nisl moderatius, Per nihil dicant commodo an.
      </p>
    </div>

    <div class="portfolio-grid">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-1.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-2.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-3.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-4.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-5.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-6.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-7.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="img/porf-8.jpg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    The Dude Rockin'
                  </h3>

                  <p class="card-text">
                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                  </p>
                </div>
              </div></a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- /Portfolio -->
  <!-- Team -->

  <!--<section class="team" id="team">
    <div class="container">
      <h2 class="text-center">
          Meet our team
        </h2>

      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="img/team-1.jpg">
              <div class="card-title-wrap">
                <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
            </nav>

            <p>
              Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
            </p>
          </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="img/team-2.jpg">
              <div class="card-title-wrap">
                <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
          </nav>

          <p>
            Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
          </p>
        </div>
        </a>
      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="card card-block">
        <a href="#"><img alt="" class="team-img" src="img/team-3.jpg">
              <div class="card-title-wrap">
                <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
        </nav>

        <p>
          Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
        </p>
      </div>
      </a>
    </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="card card-block">
        <a href="#"><img alt="" class="team-img" src="img/team-4.jpg">
              <div class="card-title-wrap">
                <span class="card-title">Sergio Fez</span> <span class="card-text">Art Director</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
        </nav>

        <p>
          Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
        </p>
      </div>
      </a>
    </div>
    </div>
    </div>
    </div>
  </section> -->
  <!-- /Team -->
  <!-- @component: footer -->

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-title">Контакты</h2>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>ул.Гоголя, 29 (ост.Горячий хлеб)<br>г.Севастополь</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>iFitnessStudio@yandex.ru</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+7(978)128-44-21</p>
            </div>

          </div>
        </div>

        <!--<div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Здесь, вы сможите отправить свое сообщение</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Имя" data-rule="minlen:4" data-msg="пожалуйста, введите свое имя" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="пожалуйста, введите email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема" data-rule="minlen:4" data-msg="пожалуйста, введите тему вопроса" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Пожалуйста, введите сообщение" placeholder="Сообщение"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Отправить сообщение</button></div>
            </form>
          </div>
        </div> -->

        <div class="col-lg-5 col-md-8">
          <iframe src="https://yandex.ru/map-widget/v1/-/CBBbvJHVTA" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
        </div>

      </div>
    </div>
  </section>

  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <!-- <div class="col-lg-6 col-xs-12 text-lg-left text-center">
            <p class="copyright-text">
              © BELL Theme
            </p>
            <div class="credits">
            
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
             Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div> -->

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <!--<li class="list-inline-item">
                <a href="index.html">Home</a>
              </li> -->

              <li class="list-inline-item">
                <a href="#about">О нас</a>
              </li>

              <li class="list-inline-item">
                <a href="#features">Программы</a>
              </li>

              <!-- <li class="list-inline-item">
                <a href="#portfolio">Portfolio</a>
              </li>

              <li class="list-inline-item">
                <a href="#team">Team</a>
              </li> -->

              <li class="list-inline-item">
                <a href="#contact">Контакты</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>


  <!-- Required JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/tether/js/tether.min.js"></script>
  <script src="lib/stellar/stellar.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/easing/easing.js"></script>
  <script src="lib/stickyjs/sticky.js"></script>
  <script src="lib/parallax/parallax.js"></script>
  <script src="lib/lockfixed/lockfixed.min.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="js/custom.js"></script>

  <script src="contactform/contactform.js"></script>
